<!-- VIACORD IMAGE -->
<div class="viaCordImage">
  <img src="https://www.viacord.com/images/Redesign/viacord-logo.png" alt="Image Not Found">
</div>

<!-- VIACORD FORM -->
<section class="clean-block clean-form dark" style="background-color:rgb(255,255,255);">
  <div class="block-heading">
    <h1 class="text-center text-info">Buffer Management System</h1>
      <form class="myFormStyle">
        <mat-tab-group>
          <!-- FIRST TAB -->
          <mat-tab label="Add Sample">
            <app-add-sample-tab></app-add-sample-tab>
          </mat-tab>
          <!-- SECOND TAB -->
          <mat-tab label="Current Samples">
            <app-current-samples-tab></app-current-samples-tab>
          </mat-tab>         
          <!-- END OF THE SECOND TAB -->
          <mat-tab label="Edit Sample"> 
            <app-edit-sample-tab></app-edit-sample-tab>      
          </mat-tab>   
        </mat-tab-group>
      </form>
  </div>
</section>


